
body  {
      display: flex;
      justify-content: center;
      font-family: Roboto, Arial, sans-serif;
      font-size: 15px;

      }
form  {
      border: 0.3em solid #f1f1f1;

      }

input[type=text], input[type=password] {
      width: 100%;
      padding: 1.3em 0.8em;
      margin: 0.6em 0;
      display: inline-block;
      border: 0.1rem solid #ccc;
      box-sizing: border-box;
      }

button {
      background-color: #8ebf42;
      color: white;
      padding: 1.1em 0;
      margin: 0.5em 0;
      border: none;
      cursor: grabbing;
      width: 100%;
      }
      
h1    {
      text-align:center;
      font-size:3em;
      }

button:hover
      {
      opacity: 0.8;
      }
.formcontainer 
      {
      text-align: left;
      margin: 0.5em 1em 0.25em;
      }
.container 
      {
      margin-right: auto;
      margin-left: auto;
      padding: 0.3em 0;
      text-align:left;
      display: flex;
      }
.errorMessage
      {
            color: #ba3939;
            background: #ffe0e0;
            border: 1px solid #a33a3a;
      }

  /*
        le selecteur .UnNom fait référence à l'attribut class d'un objet html
        Par ex en dessous on touche au objet de la class noImg
        <img class="noImg"> Voici la déclaration dans l'objet html (ici une image) de la class noImg
      */
.noImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}      

.errorMessage
{
    display: block;
      color: #ba3939;
      background: #ffe0e0;
      border: 0.05em solid #a33a3a;
      font-size: 3em;
      text-align: center;
}

.answer {
  display: block;
}

.answerImg{
  width: 2em

}

a.button{
      display:inline-block;
      padding:0.35em 1.2em;
      border:0.1em solid #162246;
      margin:0 0.3em 0.3em 0;
      border-radius:0.12em;
      box-sizing: border-box;
      text-decoration:none;
      font-family:'Roboto',sans-serif;
      font-weight:300;
      color:#162246;
      text-align:center;
      transition: all 0.2s;
}
a.button:hover{
      color:#FFFFFF;
      background-color:#8790AB;
}

      /* Change styles for span on extra small screens */
@media screen and (max-width: 640px) {
      h1{
            font-size: 2em;
      }

}